.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #000000;
  color: #fff;
  display: flex;
  padding: 10px;
}

.Grid {
  margin-left: 1rem;
  margin-top: 1rem;
}

.Info {
  margin: 1rem;
}

.Logo {
  height: 50%;
  margin-right: 10px;
  width: 15%;
}

.Response-Table {
  margin-right: 1rem;
}

body {
  margin: 0;
  overflow: hidden;
}